<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="service" class="com.landy.ssm.aop.TestServiceImpl"></bean>
	
	<bean id="advice" class="com.landy.ssm.aop.TestServiceAdvisor"></bean>
	
	<aop:config>
		<!-- 实现接口TestService的任意代理对象都作为连接点 -->
		<aop:pointcut expression="this( com.landy.ssm.aop.TestService )" id="pointcut"/>
		<aop:advisor advice-ref="advice" pointcut-ref="pointcut"/>
	</aop:config>

</beans>